/* Importación de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Playwrite+DE+Grund:wght@100..400&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Descomentar si deseas aplicar box-sizing */
}

body {
  /* background-color: #d5d8dc; */
  font-family: "Urbanist", sans-serif;
  font-size: large;
  overflow-x: hidden;
}

li {
  font-family: "Urbanist", sans-serif;
  font-size: large;
}

/* Estilos del carrusel */
.carousel-item {
  min-height: 400px;
}

.carousel-caption {
  bottom: 220px;
  z-index: 2;
}

.carousel-caption h5 {
  font-size: 70px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 25px;
}

.carousel-caption p {
  width: 60%;
  margin: 10px auto;
  font-size: 18px;
}

.carousel-inner::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* Sección de servicios */
.services {
  padding: 80px 0;
}

/* Estilos para el fondo de las secciones del carrusel */
.bg-car1,
.bg-car2,
.bg-car3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../Img/);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estilos de las cajas de íconos */
.box-icons {
  font-size: 20px;
}

.box-icons h3 {
  font-size: 20px;
  font-weight: 800;
}

/* Estilos de productos */
.product {
  padding: 80px 0;
}

.card img {
  width: 150px;
  height: 150px;
}

/* Banner */
.banner {
  padding: 50px 0;
  margin-bottom: 80px;
  background-color: #eae5df;
}

.banner h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
}

.banner img {
  width: 300px;
}

/* Responsividad */
@media (max-width: 767px) {
  .carousel-item {
    min-height: 500px;
  }

  .carousel-item img {
    height: 500px;
  }

  .carousel-caption {
    bottom: 30px;
  }

  .carousel-caption h5 {
    font-size: 50px;
    margin-top: 0;
  }

  .carousel-caption p {
    width: 100%;
    font-size: 16px;
  }

  .services {
    padding: 30px 0;
  }

  .product {
    padding: 30px 0 0 0;
  }

  .banner {
    margin-bottom: 30px;
  }
}

/* Nuevos ingresos */
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.baner_Nuevos_ingresos,
.baner_Nuevos_ingresos_ {
  display: inline-block;
  font-size: 5vw;
  animation: slide 10s linear infinite;
  white-space: nowrap;
  margin-bottom: 20px;
  margin-top: 30px;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
    color: #ff6347;
  }
  50% {
    transform: translateX(0); /* Se detiene en la posición normal */
    color: #1e90ff;
  }
  100% {
    transform: translateX(100%); /* Termina fuera de la pantalla a la derecha */
    color: #32cd32; /* Color final */
  }
}

.baner_Nuevos_ingresos_ {
  animation-delay: 2.5s; /* Retraso de tiempo para la seg linea */
}
.cards_nuevosIngresos {
  display: flex;
  margin: 35px;
}
