/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Contenedor general*/
.cont-general {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
    nav{
      padding: auto;
    }
    main{
      padding: 1rem;
      flex: 1;
    }
    footer{
      padding: 1rem;
    }
}

.contenido-producto {
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1);
  margin: 4% 8%;
  padding: 20px 20px;
}

@media screen and (max-width: 768px) {
  .contenido-producto {
    margin: 2% 4%;
  }
}

@media screen and (min-width: 1500px) {
  .contenido-producto {
    margin: 2% 18%;
  }
}

@media screen and (min-width: 2400px) {
  .contenido-producto {
    margin: 2% 23%;
  }
}

@media screen and (max-width: 412px) {
  #img1 {
    height: 300px;
    width: 310px;
  }
}

.imgvin {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*La caja que ira al lado de la imagen*/
.detalle-producto {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 22px;
}

.name-disco {
  font: 26px Roboto, Arial;
  font-weight: bold;
  color: #555555;
}
.code-disco {
  color: #666;
  font-size: 14px;
}
.precio-disco {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0px
}

#precio-unitario {
  font-size: 25px;
  font-weight: bold;
  color: red;
}

/*Descripcion del vinilo*/
#descripcion {
  margin-top: 5px;
  font-size: 20px;
}

#año,
#pais,
#tipo,
#peso,
#sello {
  font-size: 17px;
  color: #666;
}

#stock {
  font-size: 20px;
  color: green;
  font-weight: bold;
  margin-top: 20px;
}

.atributos {
  margin-bottom: 15px;
}

#categorias {
  margin-top: 5px;
  font-size: 20px;
  margin-top: 25px;
}

/*Caja y Botones de cantidad*/
.cantidad-producto {
  display: flex;
  align-items: center;
  gap: 10px;
}

.control-cantidad {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.control-cantidad button {
  border-radius: 100px;
}

.btn-cantidad {
  width: 45px;
  height: 45px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.btn-cantidad:hover {
  background-color: #FFD21D;
}

#cantidad {
  width: 49px;
  height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0 5px;
}

.add-cart-btn {
  background-color: white;
  border: 2px solid #FFD21D;
  width: 200px;
  height: 50px;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px 5px;
  border-radius: 5px;
  font-weight: bold;
}

.add-cart-btn:hover {
  background-color: #FFD21D;
}

@media screen and (max-width: 500px) {
  .cantidad-producto {
    flex-direction: column;
    align-items: flex-start;
  }

  .control-cantidad {
    margin-bottom: 10px;
  }

  .add-cart-btn {
    width: 100%;
    text-align: center;
  }
}

/*tracklist*/
#div-tracklist {
  margin-top: 60px;
}

#tracklist {
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 30px;
}

/*lado*/
.lado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .lado {
    flex-direction: column;
    align-items: flex-start;
  }

  .lado2 {
    margin-top: 10px;
  }
}

#lado {
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 30px;
}

.lado2 {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.btn-lado1 {
  width: 80px;
  height: 40px;
  margin-bottom: 30px;
  background-color: white;
  font-weight: bold;
  border: 2px solid rgb(105, 164, 16);
  border-radius: 5px 0px 0px 5px;
  border-right: none;
  text-align: center;
}

.btn-lado2 {
  width: 80px;
  height: 40px;
  margin-bottom: 30px;
  background-color: white;
  font-weight: bold;
  border: 2px solid rgb(105, 164, 16);
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
}
.active {
  background-color: rgb(105, 164, 16);
}


/*tabla de canciones*/
.table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

.table th {
  background-color: #ccc;
}

.table th,
.table td {
  padding: 8px 12px;
  text-align: left;
  border: 2px solid #ddd;
}

/* Añadimos un ajuste para pantallas pequeñas */
@media screen and (max-width: 400px) {

  .table th,
  .table td {
    padding: 6px;
    font-size: 15px;
  }
}

/*Carrusel*/
.carrusel {
  margin-top: 80px;
}

#pro-rela {
  color: black;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 25px;
}

.swiper {
  width: 100%;
  height: 100%;
  margin: 0px 5px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}

.swiper-button-next::before {
  font-size: 30x;
  color: black;
}

.swiper-button-prev::before {
  font-size: 30px;
  color: black;
}
.swiper-button-hidden {
  display: none; 
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  display: block; 
}

.swiper-button-next,
.swiper-button-prev {
  display: none; 
}
.swiper-btn {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  color: black;
  background-color: white;
  border: 2px solid black;
}

.swiper-btn:hover {
  background-color: #ffcd00;
}

/*Cards*/
.card {
  width: 80%;
  /* Adjust the card width as needed */
  margin: 10px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.add-btn {
  margin-top: 10px;
}

.rowac {
  text-decoration: none;
  color: inherit;
}

.col-card {
  margin-bottom: 18px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body p {
  font-weight: bold;
  color: red;
}

.add-btn {
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #ffcd00;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border: none
}

.add-btn i {
  color: black;
  font-weight: bold;
}

.card:hover .add-btn {
  opacity: 1;
  background-color: #ffcd00;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border: none
}

/*Cursor para dispositivos y moviles, mostrar el boton*/
@media (hover: none) and (pointer: coarse) {
  .add-btn {
    opacity: 1;
  }
}